
body{

    background-color:white;
}


table{

    background-color: rgb(207, 196, 196);
    border: none;
    padding: 5%;
    
}

main{

    padding-block-start: 10%;
    padding-inline-start: 30%;
    
}


h1{
    text-align: center;
    margin-top: 0;
    margin-left: 0%;
    margin-right: 0%;
}


